.episodes {
  min-width: 690px;
}

.episodes-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
}

.episodes-list-wrapper {
  padding: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.episodes-list {
  border-collapse: collapse;
  width: 100%;
}

.episodes-list thead {
  border-bottom: 2px solid #e1e1e1;
}

.episodes-row-grey {
  background-color: #f2f3f382;
  border-bottom: 1px solid #e1e1e1;
}

.episodes-row-white {
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}

.episode-title-header,
.episode-date-header,
.episode-duration-header {
  font-weight: bold;
  padding: 0.5rem;
  text-align: left;
}

.episode-title-cell,
.episode-date-cell,
.episode-duration-cell {
  padding: 0.5rem;
}

.episode-duration-cell {
  text-align: center;
}

.episodes-title-cell {
  font-weight: bold;
  padding: 0.5rem;
}

.episodes-date-cell {
  padding: 0.5rem;
}

.episodes-duration-cell {
  padding: 0.5rem;
}

.chapter-link {
  text-decoration: none;
  color: #2e6e97;
}
