.podcast-card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}

.podcast-card-wraper {
  padding: 10px;
}

.podcast-card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 220px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.podcast-card-image img {
  width: 170px;
  height: 170px;
}

.podcast-card-content {
  padding: 16px;
}

.podcast-card-title {
  font-size: 1rem;
  margin: 0;
}

.podcast-card-author {
  font-size: 0.9rem;
  font-style: italic;
  margin: 0;
}

.podcast-card-description {
  padding: 16px 0 0 0;
  border-top: 1px solid #ccc;
}

.description-label {
  font-size: 0.9em;
  font-weight: bold;
}

.description {
  font-size: 0.9em;
  font-style: italic;
  /* Agrega otros estilos aquí */
}
